header {
    background-color: rgb(65, 12, 12);
    color:white;
    text-align:center;
    font-size: 25px;
    
}

/* nav */
nav {
    background-color: rgba(100, 44, 44, 0.64);
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover{
    color: yellow;
}


/* login */
.login-section {
    padding: 40px;
    text-align: center;
    font-weight: bold;
    min-height: 100%;
    padding: 120px 0;   
}

.login-form {
    width: 60%;
    max-width: 700px;
    margin: auto;
    padding: 30px;
    border: 2px solid #7b4b4b;
    border-radius: 30px;
    background-color:rgba(255, 255, 255, 0.7)
}
.login-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
}

.login-form input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1 solid #999;
    border-radius: 4px;
    border-style: dashed;
}

.login-form button {
    width: 100%;
    padding: 15px;
    background-color:rgb(65, 12, 12) ;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 14px;
    font-size: 15px;
}

.login-form button:hover {
    background-color:rgb(100, 44, 44) ;
}

.team_div h2{
    width: auto;
    padding: 15px 15px 20px 15px;
    border: none;
    color: rgb(60, 11, 11);
    background-color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0px;
    text-align: center;
}
.team_div h2 a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    background-color: #3d0808;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
}

.team_div h2 a:hover{
    text-decoration: underline;
    color: gold;
}


/* FOOTER */
footer {
    background-color: rgb(47, 21, 21);
    padding: 50px 0;
    color: white;
    text-align: center;
    margin-top: auto;
}
p {
    font-style: italic;  
    font-size: 25px; 
    margin-bottom: 30px;
    color: #f8f5f5;
    }

 .sociol-link {
    margin-top: 10px;
}

 .sociol-link a {
    color: yellow;
    font-size: 25px;
    margin:0 15px;
    transition: 0.3s;
}

.sociol-link a:hover {
    color: white;
}



/* SERVICES */
.services_div {
    text-align: center;
    font-weight: bold;
}
.services_div img {
    width: 300px;
    height: 300px;
    box-shadow: #681b1b;
}
h2 {
    color:  rgb(65, 12, 12);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(12, 12, 12);
    transition-duration: 0.3;
}
ul li:hover {
    text-decoration: underline;
    font-size: 24px;
    color: rgb(1, 37, 4);
}